:root {
    --primary-color: #0d9488;
    --secondary-color: #4B5563;
    --background-color: #f3f4f6;
    --text-color: #16191e;
    --btn-hover: #00796b;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    font-family: "Lato", sans-serif;
}

.container {
    width: 85%;
    margin: auto;
}

nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .Logo {
    margin-left: 20px;
}

nav .Logo img {
    width: 200px;
    height: 100px;
}

nav .user {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    font-size: 1.5rem;
}
.counter span{
   min-width: 9.75rem;
   text-align: center;
}
.flex-it {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.filter {
    margin-top: 104px;
    font-size: 2rem;
    padding-block: 20px;
    border-radius: 5px;
    display: flex;
    width: 85%;
    margin-inline: auto;
}

.filter .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 20px;
    align-items: center;
}

.filter .counter span {
    margin-inline: 5px;
}

.filter .counter button {
    border: none;
    background-color: transparent;
}
.quiz-topic.tag{
    background-color: transparent;
    border: 2px solid var(--primary-color);

    
}
.quiz-topic.tag:hover{
    background-color: var(--btn-hover);
    border-color: transparent;
 
}
.quiz-topic.tag:hover button{
    color: white;
}
.quiz-topic.tag button{

    background-color: transparent;
    border: none;
    color: var(--primary-color);
}
.counter{
    display: flex;
    align-items: start;
    gap: 5px;
}
.filter-btn{
    margin-top: 5px;
}
.filter .counter button i {
    font-size: 1.25rem;
}
.fa-chevron-down{
    padding-bottom: 10px;

}
.filterTopics{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.hide {
    display: none;
}

.content-empty {
    text-align: center;
}

.content-empty p:first-of-type {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-block: 20px;
}

.content-empty p:last-of-type {
    font-size: 2rem;
    color: var(--secondary-color);
    margin-block: 20px;
}

.card {
    width: 300px;
    background: var(--background-color);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.date {
    color: #666;
    font-size: .875rem;
}

.actions {
    background-color: transparent;
    border: none;
}

.actions i {
    margin-left: 15px;
    color: #666;
    cursor: pointer;
    font-size: .875rem;
}

.actions button.delete i {
    color: #dc3545; 

}
.actions button.delete {
    background-color: none;
    border: none;
}

.tags {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.tag {
    padding: 5px 12px;
    text-align: center;
    min-width: 90px;
    border-radius: 20px;
    font-size: .75rem;
    background-color: #6c757d;
    color: white;
}
.solved{
    margin-left: 50px;
    color: green;
    font-size: 1.875rem;

}
.score{

    margin-left: 50px;
}
.not-solved{
    margin-left: 50px;
    color: red;
    font-size: 1.875rem;

}
.language {
    color: var(--primary-color);
    font-size: 1.75rem;
    margin-bottom: 8px;
}

p.description {
    color: #666;
    height: 50px;
    font-size: .875rem;
    margin-bottom: 30px;
    line-height: 1.4;
    /* width: 100%; */
    word-wrap: break-word;
}

.btn {
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn a {
    font-size: 1.25rem;
    color: white;
}

button.btn:hover {
    background-color: var(--btn-hover);
}

.logout {
    background-color: transparent;
    border: none;
}

.logout i {
    font-size: 1.25rem;
}

@media screen and (max-width: 1105px) {

    .content .container{
        margin: auto;
        justify-content: center;
    }
    :root{
        font-size: 14px;
    }


}
@media screen and (max-width: 576px) {
    :root {
        font-size: 14px;
    }

    nav .Logo img {
        width: 140px;
        height: 70px;
    }

    .container {
        width: 100%;
    }

    .user .fa-user-tie {
        display: none;
    }
    .filter{
        flex-direction: column;
        align-items: center;
    }
    .add-quiz-btn2{
        /* position: absolute; */
        padding: 10px;
        margin-top: 20px;
    }

    .content{
        margin-bottom: 30px;
    }

   
}
.add-quiz-btn2{
    /* position: absolute; */
    padding: 10px;
}
.rotate {
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
  }

  .toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  }
  
  .toast.show {
    opacity: 1;
    visibility: visible;
  }
  
  .bg-Error{
    background-color: rgba(209, 39, 39, 0.8);
  }
  .bg-Success{
    background-color: rgba(4, 185, 79, 0.8);
  }